body {
    background-color: rgb(228, 198, 242);
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    color: rgb(110, 119, 120);
    text-transform: capitalize;
}

.applicationName {
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border-radius: 15px;
}

.buttons {
    font-family: "Dosis", sans-serif;
    border-radius: 5px;
    border-color: rgb(75, 51, 71);
    border-style:solid;
    padding: 10px;
    color: rgb(95, 91, 93);
    font-weight: bold;
}

#create-recipe-button {
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 0vw;
    left: 0.5vw;
    font-size: 20px;
    font-weight: bold;
}

.search-recipe-container {
    width: 550px;
    margin: auto 0;
    display: flex;
    height: 50px;
    column-gap: 5px;
    position: fixed;
    bottom: 560px;
    left: 970px;
}

#search-recipe-bar {
  width: 5000px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}


#add-recipe-container {
   margin: auto;
   width: 50%;
   position: relative;
   right: 370px;
   top: 30px;
   font-weight: bolder;
}

#add-recipe-inputs {
    display: flex;
    position: relative;
}

.add-recipe-elems{
    padding: 5px;
}

.created-recipe-container {
    width: 300px;
    height: 300px;
    border: 15px solid rgb(240, 240, 240);
    background-color: rgb(237, 179, 209);
    padding: 50px;
    position: relative;
    margin: auto;
    top: 65px;
    right: 370px;
    flex-direction: column;
}





